<%= render(BooklistWeb.SharedView, "show-header.html", 
      conn: @conn, 
      resource_title_plural: "Locations", 
      resource_path_atom: :location_path, 
      item: @location, 
      item_name: to_s(@location)) 
%>

<ul>

	<li>
		<strong>Name:</strong>
		<%= @location.name %>
	</li>

	<li>
		<strong>Library:</strong>
		<%= link BooklistWeb.LibraryView.to_s(@location.library), to: Routes.library_path(@conn, :show, @location.library) %>
	</li>

</ul>
